.navOptions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: #1234;
    margin: 0px;
    height: 35px;
    padding-top: 14px;
}

.navOptions li {
    list-style: none;
    padding: 0 10px;
}

.navOptions a {
    text-decoration: none;
    color: #000;
}